/* .rowProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
.divCproduc{
    color: black;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    transition: 300ms;
}
.listD{
    list-style: none;
    text-decoration: none;
    
}
.divCproduc:hover{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.61);
}
.divCproduc p{
    font-size: 18px;
    font-weight: 600;
    margin: 2px;
}
.divCproduc .nombreProduct{
    font-size: 22px;
}
.divCproducimg{
    margin: 5px;
    width: 100%;
    overflow: hidden;

}
.divCproducimg img{
    width: 100%;
    transition: 200ms;
    object-fit: cover;
}
.divCproducimg img:hover{
    scale: 1.2;
}
.btnAgregar{
    margin: 5px 0;
    background-color: #f28e3d4c;
    padding: 5px 16px;
    border-style: none;
    border-radius: 12px;
    
    transition: 300ms;
    font-weight: 700;
    color: white;
}
.btnAgregar:hover{
    background-color: #f28e3dbb;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.415);

} */
