
.dcdcC{
   
    padding: 22px 16px;
    width: 100%;
    background-color:#f9cc5035;
}
.dcCrW{
    text-align: center;
}

.dcCrow{
    margin: 56px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.dcCrow div{
    width: 50%;
    text-align: center;

}
.texalP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dcCrow div input{
    width: 50%;
    color: black;
    text-align: center;
    font-size: 26px;
    border-style: solid;
    border-radius: 6px;
    border-color: #EE5953;
}
.dcdcC .btnccd{
    font-size: 26px;
    color: white;
    padding: 0px 8px;
    background-color: #EE5953;
    border-style: solid;
    border-radius: 6px;
    border-color: #EE5953;
    transition: 200ms;


}
.dcdcC .btnccd:hover{
    background-color: #e11f18;
    border-color: #e11f18;
}
.ContenedorimgCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.ContenedorimgCarrito img{
    width: 100%;
}

   



@media (max-width:990px) {
    .dcdcC{
       /*  display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        padding: 22px 16px;
        width: 100%;
        background-color:#f9cc5046;
    }
    .dcCrow,.dcCrW{
        width: 100%;
    }
    ul .dcCrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dcCrowL{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .dcCrow div input{
        width: 100%;
    }
    .dcCrow div{
        width: 100%;
    }
    
}