.DcDp{
    margin: 68px 0;
    padding: 14px 20px;
    
}
section{
    color: #5e5e5e;

}
.dcontenedorimg{
    width:100% ;
}
.dcontenedorimg a img{
    width: 40%;
}
@media (max-width:990px) {
    .dcontenedorimg a img{
        width: 60%;
    } 
    
}

